<footer class="footer-website" >
    <section class="container-gral-footer" >
        <section class="container-section-top-footer" >
            <section class="section-help section-foo " >
                <p class="title-section" >¿Necesitas ayuda?</p>
                <a class="btn-action" mat-button ><img class="icon-svg" src="https://firebasestorage.googleapis.com/v0/b/markettutti.appspot.com/o/image-store20%2Ficon_whatsapp.svg?alt=media&token=1f03ef7d-ad88-4ef1-bc81-281dc6d48ff8" alt="">+52-351-348-2054</a>
                <a class="btn-action" mat-button ><mat-icon class="icon" >mail</mat-icon>jcesarmtz@outlook.com</a>
            </section>

            <section class="section-help section-foo " >
                <p class="title-section" >Acerca de nosotros</p>
                <a class="btn-action" mat-button >Sobre nosotros</a>
            </section>

            <section class="section-help section-foo " >
                <p class="title-section" >¿Cómo trabajamos?</p>
                <a class="btn-action" mat-button >Envíos express</a>
                <a class="btn-action" mat-button >Primera compra</a>
                <a class="btn-action" mat-button >Planea y ahorra</a>
                <a class="btn-action" mat-button >Formas de pago</a>
                <a class="btn-action" mat-button >Tu propia web</a>
                
            </section>

            <section class="section-social-media section-foo " >
                <section class="content-links-apps" >
                    <a mat-button class="link-app link-app-appstore" href="">
                        <img class="image-app" src="https://firebasestorage.googleapis.com/v0/b/markettutti.appspot.com/o/image-store20%2FBTN%201.svg?alt=media&token=edfe4128-c2ec-4771-9d58-a44ad892a09c" alt="">
                    </a>

                    <a mat-button class="link-app link-app-playstore" href="">
                        <img class="image-app" src="https://firebasestorage.googleapis.com/v0/b/markettutti.appspot.com/o/image-store20%2FBTN%202.svg?alt=media&token=ab4006c1-ff31-4d33-be56-e513dc346293" alt="">
                    </a>
                </section>
                <section class="content-links-social-media" >
                    <p class="text-title" >Redes sociales:</p>
                    <section class="links-social-media" >
                        <a class="link" mat-icon-button  href="">
                            <img src="https://firebasestorage.googleapis.com/v0/b/markettutti.appspot.com/o/image-store20%2Ficon_facebook.svg?alt=media&token=9c6f3d3d-22e2-4f19-b532-2d29ee629b32" alt="">
                        </a>

                        <a class="link" mat-icon-button  href="">
                            <img src="https://firebasestorage.googleapis.com/v0/b/markettutti.appspot.com/o/image-store20%2Ficon_instagram.svg?alt=media&token=b64d5780-dd99-4133-aeea-9bce0da64890" alt="">
                        </a>

                        <a class="link" mat-icon-button  href="">
                            <img src="https://firebasestorage.googleapis.com/v0/b/markettutti.appspot.com/o/image-store20%2Ficon_whatsapp.svg?alt=media&token=1f03ef7d-ad88-4ef1-bc81-281dc6d48ff8" alt="">
                        </a>

                        <a class="link" mat-icon-button  href="">
                            <img src="https://firebasestorage.googleapis.com/v0/b/markettutti.appspot.com/o/image-store20%2Ficon_tiktok.svg?alt=media&token=5ce94d29-ffd7-412b-a71d-f9d025d8c73c" alt="">
                        </a>
                    </section>
                </section>
                
            </section>
        </section>
    </section>
    <section class="contain-payment" >
        <p class="title" >Formas de pago</p>
        <section class="links" >
            <a mat-icon-button class="link-payment" href="">
                <img class="icon"  src="https://firebasestorage.googleapis.com/v0/b/markettutti.appspot.com/o/image-store20%2Fpayments-master.svg?alt=media&token=31f6333c-f991-40af-b497-bfe67249be08" alt="">
            </a>

            <a mat-icon-button class="link-payment" href="">
                <img class="icon"  src="https://firebasestorage.googleapis.com/v0/b/markettutti.appspot.com/o/image-store20%2Famerican-express.svg?alt=media&token=4c7adb33-9473-4690-bdde-29fbbfaf68a2" alt="">
            </a>

            <a mat-icon-button class="link-payment" href="">
                <img class="icon"  src="https://firebasestorage.googleapis.com/v0/b/markettutti.appspot.com/o/image-store20%2Fpayment-payapal.svg?alt=media&token=65fdbdfe-734d-4ba6-b345-b826b5a6a51c" alt="">
            </a>

            <a mat-icon-button class="link-payment" href="">
                <img class="icon"  src="https://firebasestorage.googleapis.com/v0/b/markettutti.appspot.com/o/image-store20%2Fpayments-card.svg?alt=media&token=561c94f7-55ef-45ef-9870-f90d97773513" alt="">
            </a>

            <a mat-icon-button class="link-payment" href="">
                <img class="icon"  src="https://firebasestorage.googleapis.com/v0/b/markettutti.appspot.com/o/image-store20%2Fpayment-visa.svg?alt=media&token=0b49ebef-e6f3-4ca8-a127-284394bb982a" alt="">
            </a>

            <a mat-icon-button class="link-payment" href="">
                <img class="icon"  src="https://firebasestorage.googleapis.com/v0/b/markettutti.appspot.com/o/image-store20%2Fpayments-cash.svg?alt=media&token=c156df65-6053-438d-b48b-ce7e8c586b1d" alt="">
            </a>
        </section>
    </section>

</footer>



