.container-list{
    display: flex;
    flex-direction: column;
    gap: 8px;
    .content-sectiontop{
        display: flex;
        justify-content: flex-end;
    }
    .card-location{
        .top-location{
            display: flex;
            // justify-content: space-between;
            .icon{
                // justify-self: flex-end;
            }
        }

        .section-action{
            display: flex;
            justify-content: flex-end;
            column-gap: 12px;
            .btn-select{
                .icon{
                    margin-left: 8px;
                }
            }
        }
        
    }
}