<section class="section-categories" >
    <p class="title-section-category" >Conoce nuestras categorias</p>
    <section class="list-categories" >
       
        <ng-container *ngFor="let category of categoriesList" >

            <a routerLink="/list-product-categories/{{category.id}}" class="content-image-offer" >
                <img class="image" src="https://firebasestorage.googleapis.com/v0/b/markettutti.appspot.com/o/image-store20%2Fcategory.png?alt=media&token=a9e5a8ec-8d09-4b83-bc9b-23a6d5e25328" alt="">
            </a>  
        </ng-container>

    </section>

</section>
