<form [formGroup]="formGroupLocation" class="form-location">
    <p class="title-form" >Tu dirección</p>
    <mat-form-field appearance="outline" >
        <mat-label>Nombre de tu dirección</mat-label>
        <input type="text" matInput formControlName="locationName" >
    </mat-form-field>

    <mat-form-field appearance="outline" >
        <mat-label>Tu dirección completa</mat-label>
        <input type="text" matInput formControlName="addressLarge" >
        <mat-hint >Calle, número, colonia, municipio, estado</mat-hint>
    </mat-form-field>

    
    <mat-form-field appearance="outline" >
        <mat-label>Código Postal</mat-label>
        <input type="text" matInput formControlName="codigoPostal" >
    </mat-form-field>
   
    <mat-checkbox formControlName="principal" >¿Es tu dirección principal?</mat-checkbox>

    <div class="container-btn" >
        <button type="button"  class="btn btn-cancel" mat-raised-button (click)="cancelClick()" color="warn" >
            Cancelar
        </button>

        <button type="button" (click)="saveLocation()" class="btn btn-save"  mat-raised-button color="primary" >
            Guardar
        </button>

    </div>
    

</form>
