.form-location{
    display: grid;
    row-gap: 12px;
    .title-form{
        font-size: 1.2rem;
        font-weight: bold;
    }
    .content-two-inputs{
        display: grid;
        column-gap: 4px;
    }
    .container-btn{
        margin-top: 12px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 400px;
        column-gap: 12px;
        justify-content: center;
    }

}