<form [formGroup]="formGroup" class="container-gral-location">
    <section class="container-delivery-location" >

        <mat-button-toggle-group formControlName="selectionLocation" class="container-type-delivery" >
            <mat-button-toggle value="location" [class.active]="selectionLocationField?.value == 'location'" class="btn-toggle-delivery-address btn-toggle" >Envió a domicilio</mat-button-toggle>
            <mat-button-toggle value="pickup"  [class.active]="selectionLocationField?.value == 'pickup'" class="btn-toggle-delivery-pickup btn-toggle" >Recoger en tienda</mat-button-toggle>
        </mat-button-toggle-group>

        <app-card-location (saveLocationEvent)="saveLocation($event)" *ngIf="user != null && shoppingCart?.deliveryType != 'pickup'"  [locationDelivery]="locationDeliveryPrincipal" ></app-card-location>
        <app-card-location-guest *ngIf="user == null && shoppingCart?.deliveryType != 'pickup'" [locationDelivery]="locationDeliveryPrincipal" (saveLocation)="saveLocation($event)"  ></app-card-location-guest>

        <app-card-location-shop *ngIf="shoppingCart?.deliveryType == 'pickup' " ></app-card-location-shop>

        <section *ngIf="user != null && selectionLocationField?.value == 'location'" class="content-btn" >
            <button (click)="openBottomSheet()" color="primary" mat-button extended="true" >
                Mis direcciones
                <mat-icon>add_circle</mat-icon>
            </button>
        </section>
        <section *ngIf="selectionLocationField?.value == 'pickup'" class="content-btn" >
            <button (click)="goPrueba()" color="primary" mat-button extended="true" >
                ¿Tienes dudas? envianos un mensaje
                <mat-icon>chat</mat-icon>
            </button>
        </section>
        
    </section>

    <section class="container-select-day" >
        <mat-button-toggle-group formControlName="fullDateString" class="container-list-btn-days" >
            <ng-container *ngFor="let day of optionDeliveryDate" >
                <div class="container-btn" >
                     <span class="name-text" >{{day.nameDay}}</span>
                    <mat-button-toggle [class.active]=" day.fullDateString == fullDateStringField?.value"  [value]="day.fullDateString"  mat-fab   class="circle-date" >
                        <span class="day-text" >{{day.day}}/{{day.month}} </span>
                    </mat-button-toggle>
                </div>      
            </ng-container>
        </mat-button-toggle-group>
        <section class="container-select-hours" >
       
                <mat-radio-group formControlName="deliveryHours" class="group-radio-select-hours" >
                    <ng-container *ngFor="let hour of deliveryHoursOptions">
                        <mat-radio-button   [value]="hour.hourRange"  *ngIf="hour.status == 'enable' "   class="radio-button" color="primary"  >
                            <div class="container-radio-selection" >
                                <span class="text-range" [class.express]="hour.typeDeliveryHours == 'express' " >{{hour.hourRange}}</span>
                                <div *ngIf="hour.typeDeliveryHours == 'express' " class="text-express" >
                                    <span class="text" >{{hour.typeDeliveryHours | titlecase }}</span>
                                </div>
                                <div [ngClass]="{ 'contain-free-delivery': hour.cost == 0}" class="contain-host" >
                                    <span [class.costfree]="hour.cost == 0" class="text-cost" [ngClass]="{ 'free-delivery': hour.cost == 0}"  >{{hour.cost == 0 ? 'Gratis' : hour.cost | currency}} </span>
                                </div>
                            </div> 
                        </mat-radio-button>
                        
                    </ng-container>
                </mat-radio-group>
            

        </section>
    </section>
</form>
