
<section class="section-hero-home" >
    <app-big-slider-offer></app-big-slider-offer>
    <app-simple-offer [urlImg]="urlImgPromoSimpleTop" ></app-simple-offer>
    <app-mini-offer></app-mini-offer>


</section>

<main class="contianer-main-home" >
    <app-list-fav-products></app-list-fav-products>
    <app-list-best-products></app-list-best-products>
    <app-simple-offer [urlImg]="urlPromoSimpleMain" ></app-simple-offer>
    <app-two-offer></app-two-offer>

  <app-cateries-show [categoriesList]="listCategories" ></app-cateries-show>

</main>



