<picture class="content-image-offer-two" >
    <img class="image" src="https://firebasestorage.googleapis.com/v0/b/markettutti.appspot.com/o/image-store20%2Foffer-first.png?alt=media&token=a3635972-dd85-4884-8ea3-f4472dda0e08" alt="">

    <img class="image" src="https://firebasestorage.googleapis.com/v0/b/markettutti.appspot.com/o/image-store20%2Foffer-pinata.png?alt=media&token=9e1b49d1-8665-4ccb-b842-241b645c5100" alt="">

    <img class="image" src="https://firebasestorage.googleapis.com/v0/b/markettutti.appspot.com/o/image-store20%2Foffer-first.png?alt=media&token=a3635972-dd85-4884-8ea3-f4472dda0e08" alt="">
</picture>
