.card-product{
    padding: 12px;
    border-radius: 16px;
    width: 120px;
    height: 280px;
    display: grid;
    grid-template-rows: auto 2fr;
    row-gap: 8px;
    // border: 1px solid #BEC9C7;
        .container-image-product{
            display: grid;
            // justify-content: center;
            align-content: space-between;
            width: 100px;
            height: 100px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.162);
            border-radius: 16px;
            padding: 8px;
            .section-button-offer{

                .btn-offer{
                    background-color: #FF5449;
                    color: white;
                    height: 24px;
                    display: flex;
                    align-items: center;
                    border-radius: 12px;
                    border: none;
                    font-weight: 600;
                    .icon{
                        font-size: 1.2rem;
                        object-fit: contain;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                       
                    }
                }

            }
            .section-icon-add{
                display: flex;   
                justify-content: flex-end;
                width: 100%;
                height: 28px;
                .container-btn-gral{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 28px;
                    background-color: #634BBC;
                    padding: 4px 12px;
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.289);
                    height: 24px;
                    border-radius: 16px;
                    width: 90px;
                    transition: all 0.5s ease-in-out;

                    .span-text{
                        color: white;
                    font-weight: 600;
                    }
                    .btn{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 24px;
                        height: 24px;

                        .icon{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: white;
    
                        } 

                    }  
                    
                    
                }
                .container-btn-zero{
                    transition: all 0.5s ease-in-out;
                    .btn-remove{
                        display: none;
                    }
                }
            
            }
    
        }
        
    
  
    .container-info-product{
        display: grid;
        align-content: flex-start;
        // row-gap: 8px;
        .price-product{
            font-size: 1.2rem;
            font-weight: 700;
          
        }
        .name-product{
            font-size: 1rem;
            font-weight: 600;
            
        }
        .description-product{
            font-size: rem;
        }
        
    }

}