<section class="container-gral-pages-login" >
    <mat-tab-group>
        <mat-tab label="Registrate" >
            <section class="contain-tab" >
                <form [formGroup]="formRegister" action="" class="form form-login" (ngSubmit)="onRegister()" >
                    
                    
                    <mat-form-field appearance="outline" >
                        <mat-label>Correo</mat-label>
                        <input formControlName="email" type="mail" matInput >
                    </mat-form-field>
                    
                    <mat-form-field appearance="outline" >
                        <mat-label>Contraseña</mat-label>
                        <input  formControlName="password" type="password" matInput >
                    </mat-form-field>
    
                    <!-- <mat-form-field appearance="outline" >
                        <mat-label>Confirma la contraseña</mat-label>
                        <input type="password" matInput >
                    </mat-form-field> -->
                    <mat-checkbox formControlName="statusAdult" color="accent" >Soy mayor de edad</mat-checkbox>
                    <mat-checkbox formControlName="statusTermsAndConditions" color="accent" >Acepto términos y condiciones</mat-checkbox>
                    <mat-checkbox formControlName="statusNoticeOfPrivace" color="accent" >He leído el aviso de privacidad</mat-checkbox>
                    <button class="btn-register"  mat-raised-button color="primary" >Continuar</button>
                </form>
                <section class="container-btns-login-social-media" >
                    <p class="title-section-login-social-media" >También puedes continuar con:</p>
                    <button class="btn-login-social-media facebook" mat-button >
                        <img class="icon-social" src="https://firebasestorage.googleapis.com/v0/b/markettutti.appspot.com/o/image-store20%2Ficon-facebook-white.svg?alt=media&token=eacb9fbc-b188-422d-beba-3f70025a06a1" alt="">
                        Iniciar sesión con Facebook
                    </button>

                    <button class="btn-login-social-media google" mat-button >
                        <img class="icon-social" src="https://firebasestorage.googleapis.com/v0/b/markettutti.appspot.com/o/image-store20%2Ficon-google-black.svg?alt=media&token=27840ca3-01e7-4204-aa08-eed30528c9df" alt="">
                        Iniciar sesión con Gmail
                    </button>

                    <button class="btn-login-social-media apple" mat-button >
                        <img class="icon-social" src="https://firebasestorage.googleapis.com/v0/b/markettutti.appspot.com/o/image-store20%2Ficon-apple-white.svg?alt=media&token=b068a2f1-e4cf-4770-8af5-51a157031256" alt="">
                        Iniciar sesión con apple
                    </button>

                </section>
            </section>

        </mat-tab>

        <mat-tab label="Iniciar sesión" >
            <section class="contain-tab" >
                <form [formGroup]="formLogin" (ngSubmit)="onLogin()" class="form form-login" >
                    <!-- <p class="title-form" >Inicia sesión</p> -->
                    <mat-form-field appearance="outline" >
                        <mat-label>Correo</mat-label>
                        <input formControlName="email" type="mail" matInput >
                    </mat-form-field>
                    <mat-form-field  appearance="outline" >
                        <mat-label>Contraseña</mat-label>
                        <input formControlName="password" type="password" matInput >
                    </mat-form-field>
                    <button mat-raised-button color="primary" >Continuar</button>
                </form>
            </section>

        </mat-tab>
    </mat-tab-group>

    
</section>
