<section class="container-gral-menu-continue" >
   <section class="container-info" >
        <section class="container-icon" >
            <mat-icon class="icon-shopping-cart" >shopping_cart</mat-icon>
        </section>
        <section class="contianer-info-payment" >
            <p class="text-total" >Subtotal</p><span class="number-total" >{{'289' | currency}} </span>
            <p  class="text-delivery">Envio</p><span class="number-delivery" >{{'30' | currency}} </span>
        </section>
        <section class="container-btn" >
            <button class="btn-continue" mat-raised-button color="primary" >Continuar</button>
        </section>
   </section>
</section>
