<section  class="container-gral-page-success-create-account" >
    <picture class="contain-picture" >
        <img class="image" src="https://firebasestorage.googleapis.com/v0/b/markettutti.appspot.com/o/image-store20%2Fsuccess.svg?alt=media&token=8e70c2dc-7c6c-4c3a-a4dc-fbafeaa4b41b" alt="">
    </picture>

    <section class="contain-description" >
        <p class="title-success" >Registro Exitoso</p>
        <span class="text-success" >Gracias por registrarte, ya puedes comprar, generar listas personalizadas y aprovechar tu primer compra con un 10% de descuento.</span>

        <section class="contain-progress-delivery" >
            <picture class="contain-icon" >
                <img class="icon" src="https://firebasestorage.googleapis.com/v0/b/markettutti.appspot.com/o/image-store20%2Ficon-box.svg?alt=media&token=be2f3192-4281-4380-b287-b6b6495373bf" alt="">
            </picture>
            <div class="contain-divider" >
                <mat-divider class="divider" ></mat-divider>
               </div>
            <picture class="contain-icon" >
                <img class="icon" src="https://firebasestorage.googleapis.com/v0/b/markettutti.appspot.com/o/image-store20%2Ficon-box.svg?alt=media&token=be2f3192-4281-4380-b287-b6b6495373bf" alt="">
            </picture>

           <div class="contain-divider" >
            <mat-divider class="divider" ></mat-divider>
           </div>
            <picture class="contain-icon" >
                <img class="icon" src="https://firebasestorage.googleapis.com/v0/b/markettutti.appspot.com/o/image-store20%2Ficon-box.svg?alt=media&token=be2f3192-4281-4380-b287-b6b6495373bf" alt="">
            </picture>

            <div class="contain-divider" >
                <mat-divider class="divider" ></mat-divider>
               </div>
            <picture class="contain-icon" >
                <img class="icon" src="https://firebasestorage.googleapis.com/v0/b/markettutti.appspot.com/o/image-store20%2Ficon-box.svg?alt=media&token=be2f3192-4281-4380-b287-b6b6495373bf" alt="">
            </picture>

        </section>
        <section class="container-btns" >
            <a routerLink="/home" class="btn-go-buy" mat-raised-button color="primary" >¡HAZ TU PRIMER COMPRA! <mat-icon>arrow_circle_right</mat-icon> </a>
        </section>


    </section>
</section>
