<section   class="card-location" >
    <section *ngIf="locationDelivery == undefined" class="section-top undefined" >
        <div class="contain-first" >
            <mat-icon color="primary" class="icon-home icon" >home</mat-icon>
            <p class="text-card" >Agrega una dirección guest</p>
        </div>
        
        <button mat-icon-button (click)="openDialogLocation()" >
            <mat-icon class="arrow-forward" >arrow_forward_ios</mat-icon>
        </button>
    </section>
    <section class="section-top register" *ngIf="locationDelivery != undefined " >
        <div class="contain-first" >
            <mat-icon color="primary" class="icon-home icon" >home</mat-icon>
            <p class="text-card" >{{locationDelivery.locationName}}</p>
        </div>
        <div class="contain-info-address" >
            <p class="text-location" >{{locationDelivery.addressLarge}}</p>
            <p> CP. {{locationDelivery.codigoPostal}}</p>
        </div>

        <div class="arrow-forward" >
            <button  mat-icon-button (click)="openDialogLocation()" >
                <mat-icon  >arrow_forward_ios</mat-icon>
            </button>
        </div>
    </section>
    
</section>
