.card-location{
    display: grid;
    // max-width: 365px;
    min-width: 280px;
    min-height: 80px;
    border: 1px solid rgb(218, 218, 218);
    padding: 12px;
    border-radius: 8px;
    .section-top.undefined{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .contain-first{
            display: flex;
            gap: 8px;
            align-items: center;
            .text-card{
                margin: 0;
                height: fit-content;
            }
        }
        .arrow-forward{
            justify-self: flex-end;
        }
    }
    .section-top.register{
        display: grid;
        grid-template-columns: 1fr auto;
        .contain-first{
            grid-column: 1 / 2;
            grid-row:  1 / 2;
            display: flex;
            column-gap: 8px;
            align-items: center;
            p{
                margin: 0;
            }
            .text-card{
                font-weight: bold;
            }
        }
        .contain-info-address{
            grid-column:  1 / 2;
            grid-row:  2 / 3;

        }
        .arrow-forward{
            grid-column:  2 / 3;
            grid-row:  1 / 3 ;
            display: flex;
            align-items: center;
            justify-content: center;

        }
       
    }

}