.card-order{
    max-width: 325px;

    .section-top-card-order{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .con-first{
            font-size: 1rem;
            font-weight: bold;
            display: flex;
            align-items: center;
            .icon{
                margin-right: 8px;
            }
        }
        .contain-second{
            font-size: 1rem;
            font-weight: bold;
            display: grid;
        }
    }
    .section-second-card-order{

        .text{
            font-size: 0.8rem;
            font-weight: bold;
            color: gray;
        }

    }
    .section-action{
        display: flex;
        justify-content: flex-end;
    }

}